.navbar-default {
    background-color: #1BA39C;
    border-color: #1BA39C;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(221, 221, 221, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #F9F9F9;
}

.navbar-default .navbar-brand {
    color: #FDC360;
}

.btn-default {
    color: #F9F9F9;
    background-color: #4B77BE;
    border-color: #4B77BE;
}

footer {
    background-color: rgb(27, 163, 156);
    color: #ffffff;
    padding: 10px 10px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

footer p {
    margin: 0px;
}


/*login*/

.login {
    background: url(../img/login-bg.png);
    height: 100%;
    background-position: center;
    background-size: cover;
}
.login .login-container{
    position: absolute;
    bottom: 0;
}
.login .login-container .login-input{
    border-bottom: 1px solid #7f7f2d;
}
.login .login-container label{
    color: #d2d2d2;
}
.login h2 {
    font-size: 2.2rem!important;
    text-align: center;
    margin: 23% 0 20% 0;
}

.login .btn-block {
    width: 100%;
    margin: 10% 0 0 0;
}


/*wrapper*/

.wrapper {
    height: 100vh;
    background: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
  }
