.navbar-default {
    background-color: #1BA39C;
    border-color: #1BA39C;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(221, 221, 221, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #F9F9F9;
}

.navbar-default .navbar-brand {
    color: #FDC360;
}

.btn-default {
    color: #F9F9F9;
    background-color: #4B77BE;
    border-color: #4B77BE;
}

footer {
    background-color: rgb(27, 163, 156);
    color: #ffffff;
    padding: 10px 10px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

footer p {
    margin: 0px;
}
.btn-block {
    display: block!important;
}

/*login*/

.login {
    background: url(../img/login-bg.png);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.login .login-container {
    position: absolute;
    bottom: 0;
}

.login h2 {
    font-size: 2.2rem!important;
    text-align: center;
    margin: 23% 0 20% 0;
}

.login .btn-block {
    width: 100%;
    margin: 10% 0 0 0;
}


/*Side Nav - archit*/

.side-nav a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 45px!important;
    line-height: 47px!important;
    padding: 0 50px!important;
}

.side-nav a span {
    position: absolute;
    float: left;
    margin-top: 16px;
    left: 11px;
}

.side-nav a i {
    position: absolute;
    font-size: 1.3rem;
    left: 10px;
    margin-top: 13px;
}

.side-nav .logoutSid {
    position: absolute;
    bottom: 54px;
    text-align: center;
    width: 100%;
}

.login .btn-login {
    width: 100%;
    margin: 10% 0 0 0;
    background: rgba(255,255,255,0.10);
    box-shadow: none;
    border-radius: 8px;
    height: 45px;
    line-height: 45px;
    text-transform: capitalize;
}
.login .login-input{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color:#fff;
}
.login label{
   color:rgba(255, 255, 255, 0.2) !important;
}
.wrapper {
    height: 100vh;

}
.bg{
    background: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
}
#map, #map-navigation{
    height: 100%;
    width:100%;
    position: absolute;
}

/*button-collapse*/

.button-collapse {
    margin-top: 20px;
    display: inline-block;
    font-size: 24px;
    color: #000;
    margin-right: 15px;
    position: relative;
}


/*heading*/

.landing {
    position: relative;
}

.landing .gradient-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 10%, rgba(0, 105, 94, 0.75) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(47%, rgba(246, 246, 246, 0.47)), color-stop(100%, rgba(0, 105, 94, 0.75)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 10%, rgba(0, 105, 94, 0.75) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 10%, rgba(0, 105, 94, 0.75) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 10%, rgba(0, 105, 94, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 10%, rgba(0, 105, 94, 0.75) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4db6ac', GradientType=1);
    bottom: 0;
    height: 20%;
    width: 100%;
}

.landing .heading {
    display: inline-block;
    position: relative;
}

.landing .heading h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.landing span {
    margin-top: 28px;
}

.landing span i{
    font-size: 20px;
}

.landing .inner-container {
    width: 100%;
}

.landing .btn-black {
    width: 100%;
    margin: 5% 0px;
    background: #000;
}
.landing .container {
    height: 100vh;
}

.landing .title-block {
    position: absolute;
    bottom: 0;
    width: 90%;
}
.landing .title-block i{
    color:#676767;
}
.landing .title-block .floating-location{
float: right;
}
.landing .title-block .info_section_header{
    padding-top: 20px;
    color:#fff;
}
.landing .title-block .info_section_header h5{
    font-size: 1.2rem;
}
.landing .title-block .info_section_header h4{
        font-size: 1.8rem;
}
.landing .title-block .info_section_header h6 {
    font-size: 0.8rem;
    right: 7px;
    position: relative;
}
.landing .title-block .info_section_header .left_section_title{
    padding-top: 12%;
}
.landing .title-block .info_section_header .right_section_time{
    padding-top: 8%;
}
.landing .title-block .info_section_header .right_section_time .top_arrow{
    position: absolute;
    float: left;
    right: 45px;
    margin-top: 14px;
    color: #fff;
}

/* teamlisting - Archit*/
.teamlisting{
    height:100%;
}
.teamlisting .heading {
    display: inline-block;
}
.teamlisting .top_header .fa-bars{
    color: #fff;
}
.teamlisting .top_header{
    background: rgba(0, 105, 94, 0.75);
    color: #fff;
    position: relative;
}
.teamlisting .heading h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #fff;
}
.teamlisting .bell_icon {
    margin-top: 28px;
}
.teamlisting span i{
    font-size: 20px;
}
.teamlisting .info_section_header{
    padding-top: 20px;
}
.teamlisting .info_section_header h5{
    font-size: 1.2rem;
}
.teamlisting .info_section_header h4{
        font-size: 1.8rem;
}
.teamlisting .info_section_header h6 {
    font-size: 0.8rem;
    right: 7px;
    position: relative;
}
.teamlisting .info_section_header .right_section_time{
    padding-top: 8%;
}
.teamlisting .info_section_header .right_section_time .top_arrow{
        position: absolute;
    float: left;
    right: 66px;
    margin-top: 14px;
}
.teamlisting .listing_section{
    margin-top: -20px;
    background: rgba(255, 255, 255, 0.88);
    height: 100%;
}
.teamlisting .collection {
    margin: 0.5rem 0 1rem 0;
    border: transparent!important;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.teamlisting .collection .collection-item {
    background-color: transparent;
    line-height: 1.5rem;
    padding: 10px 0px;
    margin: 0;
    border-bottom: none;
}
.teamlisting .collection .collection-item.avatar {
    min-height: 55px;
    padding-left: 23px;
    position: relative;
}
.teamlisting .collection-item .user_image_list{
    background: #BFBFBF;
    position: absolute;
    width: 24px;
    height: 25px;
    border-radius: 50%;
    left: 7px;
}
.teamlisting .collection-item .user_image_list i{
    text-align: center;
    position: relative;
    left: 6px;
    top: 4px;
    color: dimgrey;
}
.collection .collection-item.avatar .title {
    font-size: 16px;
    padding-left: 20px;
}
.listing_section .btn-block {
    display: block!important;
}
.listing_section .invite_button{
    position: absolute;
    width: 90%;
    bottom: 10px;
}
