<ul id="slide-out" class="side-nav ">
	<img src="../img/abhinav.png">
  <li><a href="#!"><span class="fa fa-flag"></span>Territory Map</a></li>
  <li><a href="#!"><i class="large material-icons">insert_chart</i>Leaderboard</a></li>
  <li><a href="#!"><span class="fa fa-male"></span>Activity</a></li>
  <li><a href="#!"><i class="large material-icons">person_pin</i>Profile</a></li>
  <li><a href="#!"><i class="large material-icons">lock</i>Privacy</a></li>
  <li class="logoutSid"><a href="#!">LOGOUT</a></li>
  
</ul>

<a href="#" data-activates="slide-out" ng-click="operateSideNav()" class="button-collapse"><i class="fa fa-cog"></i></a>
<script type="text/javascript">
	 $('.button-collapse').sideNav({
	      menuWidth: 200, // Default is 240
	      edge: 'left', // Choose the horizontal origin
	      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
	    }
	 );
	$( ".button-collapse" ).click(function() {
	  $('.side-nav').show();
	});
	$('.button-collapse').sideNav('hide');
	  

</script>