<section class="teamlisting">

   <div id="map-navigation"></div>
    
        <div class="top_header">
			<div class="container ">
				<header-template></header-template>
				<div class="heading">
		            <h3>Running Mode</h3>  
		        </div>
		    	<div class="info_section_header">
		    		<div class="row">
		    			<div class="col s4">
		    				<h5>Time</h5>
		    				<h4>02m 12s</h4>
		    			</div>
		    			<div class="col s4">
		    				<h5>Distance</h5>
		    				<h4>750m</h4>
		    			</div>
		    			<div class="col s4">
		    				<h5>Area</h5>
		    				<h4>840 m<sup>2</sup></h4>
		    			</div>
		    		</div>
		    	</div>
			</div>
		</div>
		<div calss="container">
			<div class="row">
				<div class="col s12">
        			<a ng-click="stopRunning()" class="waves-effect waves-light btn btn-black">COMPLETE RUN</a>
    			</div>
    		</div>
    	</div>

</section>
