<section class="notification bg">
	<div class="top_header">
		<div class="container">
			<header-template></header-template>
			<div class="heading">
	            <h3>Notifications</h3>  
	        </div>
		</div>
	</div>

	<div class="row first_row">
	    <div class="col s12 m6">
	      <div class="card white darken-1">
	        <div class="card-content black-text">
	          <p>Your 144 m<sup>2</sup> has been captured by Team Raiders</p>
	        </div>
	        <div class="card-action">
	        	<small>Today, 5.30 pm</small>
	        	<!-- <div class="right">
	        		<a href="#">DECLINE</a>
	          		<a href="#">ACCEPT</a>	
	        	</div> -->
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col s12 m6">
	      <div class="card white darken-1">
	        <div class="card-content black-text">
	          <p>Team Hangovers sent you a Merge request</p>
	        </div>
	        <div class="card-action">
	        	<small>Today, 5.30 pm</small>
	        	<div class="right">
	        		<a href="#">DECLINE</a>
	          		<a href="#">ACCEPT</a>	
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	

		<div class="row">
		    <div class="col s12 m6">
		      <div class="card white darken-1">
		        <div class="card-content black-text">
		          <p>Your 144 m<sup>2</sup> has been captured by Team Raiders</p>
		        </div>
		        <div class="card-action">
		        	<small>Today, 5.30 pm</small>
		        	<!-- <div class="right">
		        		<a href="#">DECLINE</a>
		          		<a href="#">ACCEPT</a>	
		        	</div> -->
		        </div>
		      </div>
		    </div>
		  </div>

		  <div class="row">
		    <div class="col s12 m6">
		      <div class="card white darken-1">
		        <div class="card-content black-text">
		          <p>Your 144 m<sup>2</sup> has been captured by Team Raiders</p>
		        </div>
		        <div class="card-action">
		        	<small>Today, 5.30 pm</small>
		        	<!-- <div class="right">
		        		<a href="#">DECLINE</a>
		          		<a href="#">ACCEPT</a>	
		        	</div> -->
		        </div>
		      </div>
		    </div>
		  </div>

		  <div class="row">
		    <div class="col s12 m6">
		      <div class="card white darken-1">
		        <div class="card-content black-text">
		          <p>Your 144 m<sup>2</sup> has been captured by Team Raiders</p>
		        </div>
		        <div class="card-action">
		        	<small>Today, 5.30 pm</small>
		        	<!-- <div class="right">
		        		<a href="#">DECLINE</a>
		          		<a href="#">ACCEPT</a>	
		        	</div> -->
		        </div>
		      </div>
		    </div>
		  </div>

		  <div class="row">
		    <div class="col s12 m6">
		      <div class="card white darken-1">
		        <div class="card-content black-text">
		          <p>Your 144 m<sup>2</sup> has been captured by Team Raiders</p>
		        </div>
		        <div class="card-action">
		        	<small>Today, 5.30 pm</small>
		        	<!-- <div class="right">
		        		<a href="#">DECLINE</a>
		          		<a href="#">ACCEPT</a>	
		        	</div> -->
		        </div>
		      </div>
		    </div>
		  </div>



</section>